div{
    width: 100%;
    text-align: center;
}

.mail{
    font-style: italic;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.linkedin{
    font-style: italic;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}