ul li{
    list-style: none;
    padding: 10px 20px;
    float:right;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 10px;
    color: black;
}

li:hover{
    color:black;
    border: 2px solid ;
    border-color: rgb(167,139,250);
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 10px;
    padding: 10px 20px;
}
ul{
    float:right;
    padding: 20px 20px;
    width: 100%;
}


a {
    text-decoration: none;
}

