@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html{
  background-color: black;
  background-image:url(images/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}
