body {
  background-color: #c7ecee;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* // aaj ke liye wrap up kre?haa
// ok camera on kro, session ki photo leni h.. ni ni bekar dikh rhe, impossible
// ab assessment dedo?hn thk h, 
// anything not understood, any issue?haa ek jgh doubt thabolo wait 
coolors.co se colors leke ise customize kro according to your choice
*/
